<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vilmar.rememberthemeaning.app"
    android:installLocation="auto"
    android:versionCode="3"
    android:versionName="2.0">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="br.com.vilmar.rememberthemeaning.RememberTheMeaningApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name="br.com.vilmar.rememberthemeaning.ui.main.MainActivity"
            android:theme="@style/AppThemeDefault" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>

        <activity
            android:name="br.com.vilmar.rememberthemeaning.ui.activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->

                <!--<action android:name="android.intent.action.SEARCH" />-->
            <!--</intent-filter>-->

            <meta-data
                android:name="android.app.default_searchable"
                android:value="br.com.vilmar.rememberthemeaning.ui.activity.HomeActivity" />

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="br.com.vilmar.rememberthemeaning.ui.activity.CadastreEditActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.vilmar.rememberthemeaning.ui.activity.HomeActivity" />
        </activity>

        <activity
            android:name="br.com.vilmar.rememberthemeaning.ui.activity.WebViewActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.vilmar.rememberthemeaning.ui.activity.HomeActivity" />
        </activity>

        <activity
            android:name="br.com.vilmar.rememberthemeaning.ui.activity.RememberActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

        </activity>

        <receiver android:name="br.com.vilmar.rememberthemeaning.notification.WordReceiverRecreate">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name="br.com.vilmar.rememberthemeaning.notification.WordReceiver" />

        <activity
            android:name="br.com.vilmar.rememberthemeaning.ui.activity.StatActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />


        <!-- invalid apikey config yours -->
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="3c604ac0c323da9be02b52203d2dca3ca80ebb5e" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
    </application>

</manifest>
